/* GENERAL */
*{
    font-family: Montserrat, open-sans;
    font-size: 16px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-color: black;
    overflow-y: auto;
}
div{
    display: flex;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
} 

/* NAVIGATION */
.navbar{
    position: fixed;
    height: 70px;
    width: 100vw;
    padding: 5px 0;
    z-index: 2;
    justify-content: space-between;
    padding: 0 20px;
    /* background-color: rgba(59, 62, 142, 0.422); */
    background-color: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(5px);
}
.navbar a {
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}
#nav-burger {
    display: none;
}
#nav-burger div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
}
.mobile-menu {
    list-style: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: end;
    width: 100%;
    /* height: calc(100vh - 70px); */
    height: 100vh;
    top: 0px;
    left: 100%;
    padding-top: 70px;
    transition: 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.647);
    z-index: -1;
}
.open .mobile-menu {
    /* transform: translateX(-100%); */
    left: 0px;
}
.mobile-menu li {
    padding: 5px 15px;
}

/* LANDING */
.landing {
    position: sticky;
    z-index: -1;
}
.icon {
    height: 60px;
    width: 60px;
    background-image: url("/img/tempicon.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.icon a {
    width: 100%;
    height: 100%;
}
.clear {
    height: 100vh;
    width: 100vw;
}
.landing{
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.landing-backdrop {
    background-image: url("/img/vscodeexample.png");
    background-attachment: fixed;
    filter: blur(8px);
    -webkit-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}
.landing-text {
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.maintext {
    font-size: 50px;
    font-weight: 700;
    flex-direction: row;
}
.maintext img {
    width: 100%;
    padding-bottom: 75px;
}
.intro {
    flex-direction: column;
    /* width: 25%; */
    width: 400px;
}
.meimg {
    /* width: 25%; */
    width: 400px;
}
.myname {
    width: auto;
    font-size: 2.2rem;
    font-weight: bold;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}
.aboutme {
    width: 100%;
    text-wrap: wrap;
}
.about {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px; */
    padding: 70px 15px 15px 15px ;
    overflow: hidden;
    background-image: url("/img/peakpx.jpg");
    backdrop-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.blur {
    height: calc(100vh + 70px);
    width: calc(100vw + 15px);
    backdrop-filter: blur(3px);
    position: absolute;
    top: -70px;
    left: -15px;
    z-index: -1;
}
.gradient {
    /* background: radial-gradient(rgb(116, 1, 183), black 75%),
    linear-gradient(to bottom left, rgb(116, 1, 183), transparent),
    linear-gradient(to top right, rgb(8, 100, 70), rgb(114, 29, 185)),
    radial-gradient(rgb(9, 85, 171), transparent),
    linear-gradient(to bottom, black, transparent); */
    background-blend-mode: screen;
    /* background: linear-gradient(to bottom, black, purple),
    radial-gradient(orange, darkred); */
    background: linear-gradient(310deg, #2B3D4F, black)
}
.title {
    font-size: 2.5rem;
    font-weight: 900;
}
.content {
    height: 80%;
    width: 100%;

    justify-content: space-between;
    background-color: #121416;
    border-radius: 30px;
}
/* .images {
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    height: 100%;
    width: 25%;
    background-color: #121416;
} */
.images {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 50%;
    background-color: #121416;
    border-radius: 30px;
    overflow: hidden;
}
.images div {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 5px solid transparent;
}
#skillimg img{
    overflow: hidden;
    border-radius: 25px;
}
.text {
    flex-direction: column;
    margin: 15px 15px;
    margin-left: 30px;
    /* width: 50%; */
    /* justify-content: start; */
    background-color: #121416;
    border-radius: 30px;
    width: 520px;
}
.text p, a {
    font-size: 1.3rem;
}
.text a {
    text-decoration-line: underline;
    text-decoration-color: white;
}
.grid-img img {
    height: max-content;
    max-height: 90%;
    max-width: 90%;
}
#drone-text {
    border: 2px solid transparent !important;
    background-color: transparent !important;
}
/* #drone-text:hover{
    border-radius: 5px;
    border: 2px solid lightseagreen !important;
    transition: 0.3s ease-in-out;
    background-color: transparent !important;
} */
body:has(#drone-text:hover) #droneimg{
    border: 2px solid lightseagreen !important;
    transition: 0.3s ease-in-out;
}
body:has(#skill-text:hover) #skillimg{
    border: 2px solid lightseagreen !important;
    transition: 0.3s ease-in-out;
}
/* body:has(#skill-text:hover) #img {
    border: 2px solid lightseagreen !important;
    transition: 0.3s ease-in-out;
} */
body:has(#project-text:hover) #pcbimg {
    border: 2px solid lightseagreen !important;
    transition: 0.3s ease-in-out;
}
body:has(#literacy-text:hover) #digiimg {
    border: 2px solid lightseagreen !important;
    transition: 0.3s ease-in-out;
}



/* Tooptip */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: .9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 12px;
  border-radius: 9px;
  background: #4621FF;
  color: #FFFFFF;
  z-index: 99;
  text-shadow: 2px 0px 0px #800000;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #4621FF;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
          transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #4621FF;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #4621FF;
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}
/* Right moved to media query section */
[data-tooltip=""]::after, [data-tooltip=""]::before {
  display: none !important;
}


/* Responsive UI */
@media (min-width: 1001px) {
    [data-tooltip][data-flow="right"]::before {
        top: 50%;
        border-left-width: 0;
        border-right-color: #4621FF;
        right: calc(0em - 5px);
        -webkit-transform: translate(8px, -50%);
                transform: translate(8px, -50%);
      }
      [data-tooltip][data-flow="right"]::after {
        top: 50%;
        left: calc(100% + 5px);
        -webkit-transform: translate(8px, -50%);
                transform: translate(8px, -50%);
      }
}
@media (max-width: 1000px) {
    .maintext {
        flex-direction: column;
        justify-content: start;
    }
    .intro {
        width: 90%;
    }
    .meimg {
        width: 90%;
    }
    .meimg img {
        margin-top: 20px;
        content: url("/img/meBetter.png");
    }
    .nav-pages {
        display: none;
    }
    #nav-burger {
        display: block;
    }
    .images {
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 100%;
    }
    .about {
        height: auto;
    }
}
@media (max-width: 700px) {
    .images {
        display: none;
    }
    .about .title {
        font-size: 1.6rem;
    }
    .text {
        font-size: 1rem;
        margin: 15px 15px;
    }
    [data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="right"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #4621FF;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="right"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="right"]::before,
[data-tooltip][data-flow="right"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
          transform: translate(-50%, -4px);
}
}

