/* GENERAL */
*{
    font-family: Montserrat, open-sans;
    font-size: 16px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-color: black;
    overflow-y: auto;
}
div{
    display: flex;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
} 

/* NAVIGATION */
.navbar{
    position: fixed;
    height: 70px;
    width: 100vw;
    padding: 5px 0;
    z-index: 2;
    justify-content: space-between;
    padding: 0 20px;
    /* background-color: rgba(59, 62, 142, 0.422); */
    background-color: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(5px);
}
.navbar a {
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
}
#nav-burger {
    display: none;
}
#nav-burger div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
}
.mobile-menu {
    list-style: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: end;
    width: 100%;
    /* height: calc(100vh - 70px); */
    height: 100vh;
    top: 0px;
    left: 100%;
    padding-top: 70px;
    transition: 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.647);
    z-index: -1;
}
.open .mobile-menu {
    /* transform: translateX(-100%); */
    left: 0px;
}
.mobile-menu li {
    padding: 5px 15px;
}

/* LANDING */
.landing {
    position: sticky;
    z-index: -1;
}
.icon {
    height: 60px;
    width: 60px;
    background-image: url("/img/tempicon.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.icon a {
    width: 100%;
    height: 100%;
}
.clear {
    height: 100vh;
    width: 100vw;
}
.landing{
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.landing-backdrop {
    background-image: url("/img/vscodeexample.png");
    background-attachment: fixed;
    filter: blur(8px);
    -webkit-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}
.landing-text {
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.maintext {
    font-size: 50px;
    font-weight: 700;
    flex-direction: row;
}
.maintext img {
    width: 100%;
    padding-bottom: 75px;
}
.intro {
    flex-direction: column;
    /* width: 25%; */
    width: 400px;
}
.meimg {
    /* width: 25%; */
    width: 400px;
}
.myname {
    width: auto;
    font-size: 2.2rem;
    font-weight: bold;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}
.aboutme {
    width: 100%;
    text-wrap: wrap;
}
.about {
    flex-direction: column;
    height: 100vh;
    /* padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px; */
    padding: 70px 15px 0 15px ;
    overflow: hidden;
    background-image: url("/img/peakpx.jpg");
    backdrop-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.blur {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: -1;
}
.gradient {
    /* background-image: linear-gradient(to bottom, black, rgb(23, 23, 103)); */
    /* background-image: radial-gradient(rgb(116, 1, 183), black 75%); */
    background: radial-gradient(rgb(116, 1, 183), black 75%),
    linear-gradient(to bottom left, rgb(116, 1, 183), transparent),
    linear-gradient(to top right, rgb(8, 100, 70), rgb(114, 29, 185)),
    radial-gradient(rgb(9, 85, 171), transparent),
    linear-gradient(to bottom, black, transparent);
    background-blend-mode: screen;
    /* background-image: linear-gradient(180deg, black 0%, rgb(113, 196, 255) 60%, rgb(116, 1, 183) 100%);  */
/* , rgb(113, 196, 255) 100% */
}
.title {
    font-size: 36px;
    font-weight: 900;
}
.content {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    height: 80%;
}
.text {
    grid-area: 1 / 1 / 1 / 1;   
}
#droneimg {
    grid-area: 2 / 3 / 2 / 3; 
    height: 100%;
    width: 100%;
}
.grid-img img {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
}
#origamiimg {
    grid-area: 3 / 2 / 3 / 2; 
    height: 100%;
    width: 100%;
}
#drone-text {
    border: 2px solid transparent !important;
    background-color: transparent !important;
}
#drone-text:hover {
    border-radius: 5px;
    border: 2px solid lightseagreen !important;
    transition: 0.3s ease-in-out;
    background-color: transparent !important;
}



@media (max-width: 900px) {
    .maintext {
        flex-direction: column;
        justify-content: start;
    }
    .intro {
        width: 90%;
    }
    .meimg {
        width: 90%;
    }
    .meimg img {
        margin-top: 20px;
        content: url("/img/meBetter.png");
    }
    .nav-pages {
        display: none;
    }
    #nav-burger {
        display: block;
    }
}